<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset ="utf-8">
      <title> Loan Calculator </title>
      <link rel"stylesheet" type="text/css" href="..static/css/stylsheet.css"
  </head>

  <body>
    {% extends 'base.html' %}

    {% block body %}
      <h2> This is my loan calculator </h2>
      <form method="post">
        <tr>
          <td> Loan Amount: </td> <td> <input type="text" name="numOne" /> </td>
        </tr>
        <tr>
          <td> Number of periodic payments:</td> <td> <input type="text" name="numTwo" /> </td>
        </tr>
        <tr>
          <td> Interest Rate: </td> <td> <input type="text" name="numThree" /> </td>
        </tr>

      </table>
        <br>
      <input class="button" type="submit" formaction="/calc" value="Calculate Payment!" />
    </form>

    <p> {{ display }} </p>
    <div style="clear:both;"></div>
    {% endblock %}

      </body>

  </html>
